.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.carousel-item img {
  width:100%; 
  height: 500px !important;
}

.filter_restaurants {
  width: 80%;
  margin: 2% 10%;
  height: 65px;
  background-color: #447285;
  border-radius: 30px;
}

.filter_restaurants ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8a7474;
}

.filter_restaurants ul li {
  float: left;
}

.filter_restaurants ul li a {
  display: block;
  color:#080808;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter_restaurants ul li a:hover {
  border-radius: 15px;
  background-color: aliceblue;
}

.sort_by_elements ul li {
  float: right;
}

.discounts .card img, .bestsellers .card img {
  width: 100%;
  height: 200px;
}